extends layout/main
    
block variables
    - var pageTitle = "Questionnaire"

block content
    main.main
        .section-title 
            .section-title__text
                h2 Одна строка
        section.card-list
            .card-list__wrap
                .card-list__item
                    img(src="svg/calendar.svg", alt="calendar").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/balance.svg", alt="balance").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/edit.svg", alt="edit").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/autopay.svg", alt="autopay").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/archive.svg", alt="archive").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/multi-account.svg", alt="multi-account").card-list__icon
                    .card-list__title Живой голос вместо робота
        .section-title 
            .section-title__text
                h2 Более одной строки
        section.card-list
            .card-list__wrap.card-list__wrap--content
                .card-list__item.card-list__item
                    img(src="svg/calendar.svg", alt="calendar").card-list__icon
                    .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item.card-list__item
                    img(src="svg/balance.svg", alt="balance").card-list__icon
                    .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item.card-list__item
                    img(src="svg/edit.svg", alt="edit").card-list__icon
                    .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item.card-list__item
                    img(src="svg/autopay.svg", alt="autopay").card-list__icon
                    .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item.card-list__item
                    img(src="svg/archive.svg", alt="archive").card-list__icon
                    .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item.card-list__item
                    img(src="svg/multi-account.svg", alt="multi-account").card-list__icon
                    .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
        .section-title 
            .section-title__text
                h2 Выделенный
        section.card-list
            .card-list__wrap.card-list__wrap--strong
                .card-list__item
                    img(src="svg/calendar.svg", alt="calendar").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/balance.svg", alt="balance").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/edit.svg", alt="edit").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/autopay.svg", alt="autopay").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/archive.svg", alt="archive").card-list__icon
                    .card-list__title Живой голос вместо робота
                .card-list__item
                    img(src="svg/multi-account.svg", alt="multi-account").card-list__icon
                    .card-list__title Живой голос вместо робота
        .section-title 
            .section-title__text
                h2 Выделенный + текст
        section.card-list
            .card-list__wrap.card-list__wrap--content.card-list__wrap--strong
                .card-list__item
                    img(src="svg/calendar.svg", alt="calendar").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Живой голос вместо робота
                        .card-list__desc Запишите приветствие для друзей — они будут оставлять сообщения вам чаще
                .card-list__item
                    img(src="svg/balance.svg", alt="balance").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Живой голос вместо робота
                        .card-list__desc Запишите приветствие для друзей — они будут оставлять сообщения вам чаще
                .card-list__item
                    img(src="svg/edit.svg", alt="edit").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Живой голос вместо робота
                        .card-list__desc Запишите приветствие для друзей — они будут оставлять сообщения вам чаще
                .card-list__item
                    img(src="svg/autopay.svg", alt="autopay").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Живой голос вместо робота
                        .card-list__desc Запишите приветствие для друзей — они будут оставлять сообщения вам чаще
                .card-list__item
                    img(src="svg/archive.svg", alt="archive").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Живой голос вместо робота
                        .card-list__desc Запишите приветствие для друзей — они будут оставлять сообщения вам чаще
                .card-list__item
                    img(src="svg/multi-account.svg", alt="multi-account").card-list__icon
                    .card-list__text-wrap    
                        .card-list__title Живой голос вместо робота
                        .card-list__desc Запишите приветствие для друзей — они будут оставлять сообщения вам чаще
        .section-title 
            .section-title__text
                h2 Выделенный + большой текст
        section.card-list
            .card-list__wrap.card-list__wrap--content.card-list__wrap--strong
                .card-list__item
                    img(src="svg/calendar.svg", alt="calendar").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Автоматическое зачисление
                        .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item
                    img(src="svg/balance.svg", alt="balance").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Автоматическое зачисление
                        .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item
                    img(src="svg/edit.svg", alt="edit").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Автоматическое зачисление
                        .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item
                    img(src="svg/autopay.svg", alt="autopay").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Автоматическое зачисление
                        .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item
                    img(src="svg/archive.svg", alt="archive").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Автоматическое зачисление
                        .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 
                .card-list__item
                    img(src="svg/multi-account.svg", alt="multi-account").card-list__icon
                    .card-list__text-wrap
                        .card-list__title Автоматическое зачисление
                        .card-list__desc Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с 