@media screen and (max-width:1280px){
    .card-list__item{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}
@media screen and (max-width:1050px){
    .card-list{
        padding-left: 50px;
        padding-right: 50px;
    }
    .card-list__icon{
        display: block;
        margin: 0 auto 16px; 
    }
    .card-list__title{
        display: block;
        text-align: center;
    }
    .section-title{
        height: 160px;
    }
    .section-title__text h2{
        font-size: 44px;
        line-height: 48px;
    }
    .card-list{
        padding-top: 45px;
        padding-bottom: 45px;
    }
}
@media screen and (min-width:1024px){
    .card-list__icon:hover{
        transform: scale(1.4) rotate(90deg);
    }
}
@media screen and (max-width:900px){
    .card-list__wrap--content{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        .card-list__item{
            width:100%;
            display: flex;
        }
    }
}
@media screen and (max-width:768px){
    .section-title{
        height: 152px;
    }
    .section-title__text h2{
        font-size: 36px;
        line-height: 40px;
        max-width: 370px;
    }
}
@media screen and (max-width:670px){
    .card-list__wrap{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .card-list__item{
        width:100%;
    }
    .card-list{
        padding: 45px 20px;
    }
    .section-title__text{
        padding: 0 32px;
    }
    .card-list__wrap--content .card-list__item{
        display: block;
        text-align: center;
    }
    .card-list__wrap--content{
        .card-list__icon{
            display: block !important;
            margin: 0 auto 18px !important;
        }
    }
    .card-list__wrap--content.card-list__wrap--strong .card-list__title{
        text-align: center;
    }
    .card-list__text-wrap {
        max-width: 400px;
        margin: 0 auto;
    }
}